@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.rating {
    width: 50%;
    margin: auto;
}
.rating label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.rating label:before {
    content: "\2605";
    font-size: 22px;
    color: #ccc;
    line-height: 1;
}
.rating input {
    display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: #f9df4a;
}